@import url(themes.css);

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: var(--navbar-color);
  text-align: center; /* Center the text */
}

li {
  display: inline-block; 
}

li a {
  font-size: 1.5rem;
  color: var(--text-color);
  font-family: var(--font-family);
  display: block;
  text-align: center;
  padding: 1rem 2rem;
  text-decoration: none;
  font-weight: 600;
}

li a:hover {
  background-color: #111;
}
